{% extends 'common/base.html' %}
{% load static %}

{% block content %}
<div class="p-6 bg-white rounded-lg shadow-lg">
    <h1 class="text-2xl font-bold mb-4">Events</h1>

    <form method="get" action="{% url 'home' %}" class="mb-4">
        <input type="text" name="search" placeholder="Search events..." value="{{ search_query }}" class="border p-2 rounded w-full mb-2">
    
        <select name="category" class="border p-2 rounded w-full mb-2">
            <option value="">All Categories</option>
            {% for category in categories %}
                <option value="{{ category.id }}" {% if category.id|stringformat:"s" == selected_category %}selected{% endif %}>{{ category.name }}</option>
            {% endfor %}
        </select>
        <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded">Filter</button>
    </form>
    

    {% if messages %}
        <div>
            {% for message in messages %}
                <div class="{% if message.tags == 'error' %}bg-red-500 text-white{% else %}bg-green-500 text-white{% endif %} rounded p-4 mb-4">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}


    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
        {% for event_info in events %}
        <div class="bg-gray-100 p-4 rounded-lg shadow 
                {% if event_info.is_booked %}
                    bg-red-100
                {% endif %}">

            <h2 class="text-xl font-semibold">{{ event_info.event.name }}</h2>
            <p>Date: {{ event_info.event.date }}</p>
            <p class="mt-1">Location: {{ event_info.event.location }}</p>
            <p class="mt-1">Description: {{ event_info.event.description|truncatewords:20 }}</p>
            <p class="mt-2 text-blue-500 mb-2">Capacity left: {{ event_info.event.capacity }}</p>
            {% if user.is_authenticated %}
                {% if event_info.is_booked %}
                    <p class=" text-green-500 font-semibold">Booked</p>
                {% elif event_info.event.capacity <= 0 %}
                    <p class="text-red-500 font-semibold">Fully Booked</p>
                {% else %}
                    <a href="{% url 'book_event' event_info.event.id %}" class="bg-blue-500 text-white px-4 py-2 rounded mt-2 inline-block">Book</a>
                {% endif %}
            {% else %}
                <a href="{% url 'login' %}" class="bg-blue-500 text-white px-4 py-2 rounded mt-2 inline-block">Log in to Book</a>
            {% endif %}
        </div>
        {% empty %}
        <p>No events found.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
